/*-- scss:default --*/
$body-bg: #475687;

/*-- scss:rules --*/



html * {
  font-family: 'Optima';
}
 /* code blocks */
.sourceCode.cell-code{
  background-color: #7988B9;
  border-left-color: #9954bb;
  border-left-width: 10px;
}

code{
  background: #D9E3F1;
  color:#9954bb;
}
h1, h2{
  color:#D9E3F1;
}

details>summary{
  color:#D9E3F1;
}

.navbar-dark {
  background-color: #1C2235;

}

.navbar-dark .navbar-brand {
    color:#B98AD0;
    
}

.navbar-dark .navbar-brand:hover {
    color:#9954bb;
}

.navbar-dark .navbar-nav .nav-link {
  background-color: #1C2235;
  color:#B98AD0;
  transition-duration: 0.02s;
  font-size: 1.1em;
    padding: 0.5em 1.0em;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color: #1C2235;
  color:#9954bb;
  transition-duration: 0.02s;
  font-size: 1.1em;
    padding: 0.5em 1.0em;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:#9954bb;

}

/* nav menu */



.navbar-dark .navbar-toggler-icon {
    background-image: url('nav.png');
    
}

/* homepage */

#quarto-content .subtitle {
    color: #D9E3F1;
    padding-top: 14px;
}

div.quarto-about-solana .about-entity .about-link {
    color: #D9E3F1;
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-right: 10px;
}

div.quarto-about-solana .about-entity .about-link:hover {
    color: #D9E3F1;
    background-color:  #1C2235;
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color:  #D9E3F1;
}

/*for the captions*/
.quarto-categories{
  color: #D9E3F1;
}

.quarto-title-banner .quarto-categories {
  color: #D9E3F1;
}

/* for the blog section */

#title-block-header.quarto-title-block.default .quarto-title .title {
  color:#D9E3F1;
  
}

#title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract{
  color:#D9E3F1;
}

a {
  color: #B98AD0;
}
a:hover {
  color: #9954bb;
}



p code:not(.sourceCode){
  background-color: #D9E3F1;
  color: #9954bb;
}

div.cell-output.cell-output-stdout{
  background: #1C2235;
  color:#D9E3F1;
}


.quarto-grid-item .listing-categories .listing-category {
  color:#D9E3F1;
}

.quarto-grid-item .card-text {
  color:#D9E3F1;
}

.quarto-grid-item .card-attribution.justify{
  color:#D9E3F1;
}
.quarto-grid-item div.post-contents{
  color:#D9E3F1;
}


#quarto-margin-sidebar .quarto-listing-category{
  color:#D9E3F1;
}

div#quarto-margin-sidebar.sidebar.margin-sidebar{
  color: #B98AD0;
}

div#quarto-margin-sidebar.sidebar.margin-sidebar.ul::hover{
  color:#D9E3F1;
}



