/*-- scss:default --*/
$body-bg: #EEE8ED;/* #f0f0f0;*/
$navbar-bg: #685068;   /* #665E73; */
$font-family-sans-serif: Georgia;
$font-size-base: 1.15rem;

$primary: #522966;
$toc-font-size: 1.1rem;
$btn-code-copy-color: #685068;
$code-block-bg:  #F8F9FA;
$link-color: #874CA4;


/*-- scss:rules --*/

.blockquote {
  color: #000;
  background: #F8F9FA;
}

details.code-fold summary {
  color: black;
}

a#tabset-1-1-tab.nav-link.active{
  background: #F8F9FA;
}

a#tabset-1-2-tab.nav-link.active{
  background: #F8F9FA;
}

a#tabset-1-1-tab.nav-link{
  background: #F8F9FA;
}

a#tabset-1-2-tab.nav-link{
  background: #F8F9FA;
}



div.tab-content {
  background: #F8F9FA;
}

div.callout-body-container.callout-body {
  background: #F8F9FA;
}

div#tippy-1 {
  border-color: black;
  border: 3px;
  border-style: dashed;
}

div.cell-output.cell-output-stdout {
  background:  #F8F9FA;/*#f0f0f0;*/ /* #DCD0DB;*/ /* #D3C5D2;*/
}


/* Home Page and Hovering */ 

#shinyContainer{
  display: none;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#showShinyApp {
  text-decoration: underline;
  color:#874CA4;
}

div.quarto-about-solana .about-entity .about-link {
    color: black;
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-right: 10px;
}


div.quarto-about-solana .about-entity .about-link:hover {
    background-color: #685068;
    color: #f0f0f0;
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-right: 10px;
}



/*for the categories in the blog*/

div.quarto-title .quarto-categories .quarto-category {
  
  color: #f0f0f0;
  opacity: 1;
  
  
}
div.quarto-post .listing-categories .listing-category {
  color: black;
  border-color: black;
}

div.card-attribution.card-text-small.justify {
  color:  black;
}



