/* css styles */

html * {
  font-family: 'Optima';
}

.sourceCode cell-code{
  background-color: #F4F4F4;
}

.navbar-dark {
  background-color: #475687;

}

.navbar-dark .navbar-brand {
    color:#C3CBD9
}

.navbar-dark .navbar-brand:hover {
    color:#D9E3F1;
}

.navbar-dark .navbar-nav .nav-link {
  background-color:#475687;
  color:#C3CBD9;
  transition-duration: 0.02s;
  font-size: 1.1em;
    padding: 0.5em 1.0em;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color:#475687;
  color:#D9E3F1;
  transition-duration: 0.02s;
  font-size: 1.1em;
    padding: 0.5em 1.0em;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:#D9E3F1;

}

/* nav menu */



.navbar-dark .navbar-toggler-icon {
    background-image: url('nav.png');
    
}

/* homepage */

#quarto-content .subtitle {
    color: #475687;
    padding-top: 14px;
}

div.quarto-about-solana .about-entity .about-link {
    color: #475687;
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-right: 10px;
}

div.quarto-about-solana .about-entity .about-link:hover {
    color: #D9E3F1;
    background-color: #475687;
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #475687;
}


/* for the blog section */


a {
  color: #0078D4;
}
a:hover {
  color: #0078D4;
}


p code:not(.sourceCode){
  background-color: #F4F4F4;
  color: #9954bb;
;
}



